<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/css/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  <div class="flex-container" id="nav-bar">

    <div class="nav-container">
      <img id="home-icon" src="/assets/img/images/home.png" width="50px" class="nav-icon">
      <p class="nav-tooltip">Home</p>
    </div>

    <div class="nav-container">
      <a href="/"><img id="bills-icon" src="/assets/img/images/bills.png" width="50px" class="nav-icon"></a>
      <p class="nav-tooltip">Bills</p>
    </div>

    <div class="nav-container">
      <a href="/receipts"><img id="money-icon" src="/assets/img/images/money.png" width="50px" class="nav-icon"></a>
      <p class="nav-tooltip">Expenses</p>
    </div>

    <div class="nav-container">
      <a href="/iou"><img id="iou-icon" src="/assets/img/images/iou.png" width="50px" class="nav-icon"></a>
      <p class="nav-tooltip">IOUs</p>
    </div>

    <div class="nav-container">
      <img id="user-icon" src="/assets/img/images/usericon.png" width="50px" class="nav-icon">
      <p class="nav-tooltip">User</p>
    </div>
  </div>

  {{{body}}}

</body>

</html>