{{!-- Setup the `main.handlebars` file so it's able to be used by Handlebars --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
  <title>Eat-Da-Burger!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src=""></script>
</head>

<body>
  {{{ body }}}
</body>

</html>