<body>
  <div class="flex-container" id="nav-bar">

    <div class="nav-container">
      <img id="home-icon" src="/assets/img/images/home.png" width="50px" class="nav-icon">
      <p class="nav-tooltip">Home</p>
    </div>

    <div class="nav-container">
      <a href="/"><img id="bills-icon" src="/assets/img/images/bills.png" width="50px" class="nav-icon"></a>
      <p class="nav-tooltip">Bills</p>
    </div>

    <div class="nav-container">
      <a href="/receipts"><img id="money-icon" src="/assets/img/images/money.png" width="50px" class="nav-icon"></a>
      <p class="nav-tooltip">Expenses</p>
    </div>

    <div class="nav-container">
      <a href="/iou"><img id="iou-icon" src="/assets/img/images/iou.png" width="50px" class="nav-icon"></a>
      <p class="nav-tooltip">IOUs</p>
    </div>

    <div class="nav-container">
      <img id="user-icon" src="/assets/img/images/usericon.png" width="50px" class="nav-icon">
      <p class="nav-tooltip">User</p>
    </div>
  </div>
  <div id="content-container">
    <table id="bill-table">
      <tr>
        <th><b>Bills</b></th>
        <th><b>Amount</b></th>
        <th><b>Due</b></th>
        <th> </th>
      </tr>
      <div class="flex-container" id="button-flex">

        {{#each userBills}}
        {{#if user_id}}
        {{> bills/bill-block}}
        {{/if}}
        {{/each}}
      </div>
    </table>

    <table id="add-bill-table">
      <tr>
        <th>Add Bill Name</th>
        <th>Add Bill Amount</th>
        <th>Add Due Date</th>
      </tr>
      <tr id="new-bill-row">
        <form id="bill-form"></form>
        <th>
          <input type="text" id="bill-name" name="bill">
        </th>
        <th>
          <input type="number" id="amount">
        </th>
        <th>
          <input type="date" id="due">
        </th>
        </form>
      </tr>
    </table>

    <div id="new-bill-button" class="button">+</div>

    <table id="total-table">
      <tr>
        <th width="372px"><b>Total:</b></th>
        <th width="207px" id="totals">${{userTotal}}</th>
      </tr>
    </table>

  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/js/index.js"></script>