<h1>login</h1>

<input type="text" id="username">
<button id="submit">submit</button>
<script>
  
  $(document).on("click","#submit",function(res){
    var username = $("#username").val()
    var password = $("#password").val()
    console.log(username)
    $.ajax(`/api/info/${username}/${password}`,{
      type:"GET"
    }).then(function(data){
      
    })
  })

  
</script>
