<div class="content-container">

    <div id="bill-table">
        <div class="col-lg-12">
            <h1>Login</h1>
        </div>
    </div>
    <br>
    <div id="bill-table">
        <div class="col-lg-12">
            <label for="">username</label>
            <input type="text" name="" id="username">
        </div>
    </div>
    <br>
    <div id="bill-table">
        <div class="col-lg-12">
            <label for="">password</label>
            <input type="text" id="password">
        </div>
    </div>
    <br>
    <div id="bill-table">
        <div class="col-lg-12">
            <button class="primary" id="submit">submit</button>
        </div>
    </div>

</div>
<script>
    $(document).on("click", "#submit", function (res) {

        var username = $("#username").val()
        var password = $("#password").val()
        $.ajax(`/api/users/${username}/${password}`, {
            type: "GET"
        }).then(function (data) {
            console.log(data)
            window.location = window.origin + "/bills"
        })
    })


</script>
<div id="createLogin">
    <h3>Create Account</h3>
</div>

<script>
    $("#createLogin").on("click", function () {
        window.location = window.location + "createLogin";
    })
</script>