<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-12">
                    <h1>login</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="">username</label>
                    <input type="text" name="" id="username">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="">password</label>
                    <input type="text" id="password">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="primary" id="submit">submit</button>
                </div>
            </div>
        </div>
    </div>
    <script>
  
    $(document).on("click","#submit",function(res){
        var username = $("#username").val()
        var password = $("#password").val()
        console.log("poop")
        $.ajax(`/api/info/${username}/${password}`,{
        type:"GET"
        }).then(function(data){
            
        })
    })

    
    </script>
</body>
</html>