* {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
}

body {
    /* background: #aaff88; */

    background: #3388cc
}

#userID {
    display: none;
}

#nav-bar {
    display: flex;

    justify-content: space-between;

    width: 800px;

    margin-left: auto;

    margin-right: auto;

    margin-top: 50px;
}

#content-container {
    width: 850px;
    padding: 10px;
    background-color: #ffffff55;

    margin-right: auto;

    margin-left: auto;

    margin-top: 100px;

    position: relative;

    border-radius: 3px;
}

#bill-table {

    width: 100%;
}

#add-bill-table {
    width: 100%;
    margin-top: 30px;
}

table tr:nth-child(even) {
    background-color: #ffffff77;
}

table tr:nth-child(odd) {
    background-color: #ffffffcc;
}

th {
    text-align: left;
    padding: 5px;

    padding-left: 10px;

    color: #002244;

    width: 37%;
}

.button {
    background-color: #ffffff99;
    color: #002244;
    text-align: center;

    padding: 3px;

    width: 50px;

    border-radius: 10px;

    margin-top: 5px;

    font-size: 26px;

    opacity: .5;

    cursor: pointer;

    user-select: none;

    -moz-user-select: none;

    border: none;
}

#button-flex {
    justify-content: right;
}

/* .edit-button {
    position: absolute;
    right: 32px;
    opacity: .3;
    cursor: pointer;
    display: none;

    margin-top: -18px;

}

.delete-button {
    position: absolute;
    right: 15px;
    opacity: .3;
    display: none;
    cursor: pointer;

    margin-top: -17px;
} */

input {
    border: none;

    padding: 3px;

    font-size: 18px;

    border-radius: 3px;
}

.nav-icon {
    cursor: pointer;
}

.nav-container {
    position: relative;
}

.nav-tooltip {
    opacity: 0;

    position: absolute;

    color: #ffffff;

    font-size: 20px;

    transition: opacity 1s;

    user-select: none;

    -moz-user-select: none;

    text-align: center;

    left: 50%;

    width: 200px;

    margin-left: -100px;

    pointer-events: none;
}

.nav-container:hover .nav-tooltip {
    opacity: 1;
}